/* SubscribedCourses.module.css */

/* Contenedor de la barra de búsqueda */
.searchContainer {
  display: flex;
  justify-content: flex-end; /* Mueve el buscador a la derecha */
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px; /* Ajusta este valor para moverlo más hacia la derecha */
 }

/* Estilo del input de búsqueda */
.search__input {
  width: 100%;
  max-width: 600px;
  padding: 10px 40px 10px 40px; /* Aumenta el padding a la izquierda */
  font-size: 16px;
  border: 2px solid black; /* Borde negro como en el diseño */
  border-radius: 20px; /* Bordes redondeados */
  background-color: white; /* Fondo blanco */
  outline: none;
  transition: all 0.3s ease;
 }
 .search__input::placeholder {
  color: black; /* Color del placeholder (opcional) */
}

.search__input:hover {
  border-color: #1976d2;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search__input:focus {
  border-color: #1976d2;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);;
}
.searchIcon {
  position: absolute;
  left: 10px; /* Posiciona el ícono dentro del campo */
  top: 50%;
  transform: translateY(-50%); /* Centra el ícono verticalmente */
  font-size: 20px; /* Aumenta el tamaño del ícono */
  color: black; /* Cambia el color de la lupa a negro */
  font-weight: bold; /* Aumenta el grosor visual del ícono */
}
/* Contenedor de los resultados */
.resultsContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

/* Estilo para cuando no hay resultados */
.noResults {
   text-align: center;
   color: #999;
   margin-top: 30px;
   font-size: 1.2rem;
}
.sectionTitle {
  font-size: 1.4rem; /* Tamaño más pequeño */
  font-weight: 900; /* Grosor máximo */
  color: #000; /* Negro absoluto */
  text-align: left;
  margin: 0; /* Elimina márgenes adicionales */
}
