.prueba-poker-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   font-family: Arial, sans-serif;
}

.inputs-container label {
   display: block;
   margin-bottom: 10px;
}

.inputs-container input {
   padding: 8px;
   width: 100%;
   margin-top: 5px;
   box-sizing: border-box;
}

button {
   background-color: black;
   color: white;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
}

button:hover {
   background-color: #333;
}

.prueba-poker-container {
   padding: 20px;
}

.resultados-container {
   margin-bottom: 20px;
   padding: 15px;
   border: 1px solid #ddd;
   border-radius: 8px;
   background-color: #f9f9f9;
}

.inputs-container {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.muestra-input {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}

.button-group {
   display: flex;
   gap: 10px;
}

.modal-box {
   background: white;
   padding: 20px;
   max-width: 500px;
   margin: auto;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.code-box {
   max-height: 300px; /* Altura máxima para scroll vertical */
   max-width: 100%; /* Ajusta el ancho al contenedor */
   overflow-x: auto; /* Scroll horizontal */
   overflow-y: auto; /* Scroll vertical */
   white-space: pre; /* Mantiene el formato del código */
   border: 1px solid #ddd;
   background-color: #f9f9f9;
}
